{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WEData{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'management/css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'management/images/welogo.png' %}">
    <script src="{% static 'management/js/javascript.js' %}"></script>
</head>
<body>
    <div class="header">
        <h1>Willowbrook Education Data Systems</h1>
    </div>



    <div class="nav">
        <div class="nav-links">
            {% if is_orders %}
                <a href="{% url 'order_list' %}">Orders</a>
            {% endif %}
    
            {% if is_job %}
                <a href="{% url 'job_list' %}">Jobs</a>
                <a href="{% url 'create_job' %}">Create Job</a>
            {% endif %}
    
            {% if is_cncmachining %}
                <a href="{% url 'cnc_operator_jobs' %}">CNC Machining</a>
            {% endif %}
    
            {% if is_picking %}
                <a href="{% url 'picking_department' %}">Picking</a>
            {% endif %}
    
            {% if is_assembly %}
                <a href="{% url 'assembly_department' %}">Assembly</a>
            {% endif %}
    
            {% if is_upholstery %}
                <a href="{% url 'upholstery_department' %}">Upholstery</a>
            {% endif %}
    
            {% if is_plywood %}
                <a href="{% url 'plywood_department' %}">Plywood</a>
            {% endif %}
    
            {% if is_minikitchen %}
                <a href="{% url 'minikitchen_department' %}">MiniKitchen</a>
            {% endif %}
    
            {% if is_misc %}
                <a href="{% url 'assign_misc_parts' %}">Misc</a>
            {% endif %}
    
            {% if is_import %}
                <a href="{% url 'import_data' %}">Import</a>
            {% endif %}

            {% if is_routing %}
                <a href="{% url 'routing' %}">Create Route</a>
            {% endif %}

            {% if is_routing %}
                <a href="{% url 'routing' %}">Routes</a>
            {% endif %}

        </div>
    

        <div class="profile-link">
            <a href="{% url 'profile' %}">Profile</a>
        </div>
    </div>
    
    





    <div class="container">
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.autoresize').forEach(function(textarea) {
            function resizeTextarea() {
                // Set height to 'auto' to get the correct scrollHeight
                textarea.style.height = 'auto';
                // Calculate the height difference which might be caused by border etc.
                var borderHeight = textarea.offsetHeight - textarea.clientHeight;
                // Set the height only if the content doesn't fit anymore
                if (textarea.scrollHeight + borderHeight > textarea.clientHeight) {
                    textarea.style.height = textarea.scrollHeight + 'px';
                }
            }
            // Initialize resize on page load
            resizeTextarea();
            // Apply resizeTextarea on input event
            textarea.addEventListener('input', resizeTextarea, false);
        });
    });



    // This function saves the current scroll position in localStorage
    function saveScrollPosition() {
        localStorage.setItem('scrollPosition', window.scrollY || document.documentElement.scrollTop);
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Restore the scroll position if it exists in localStorage
        if (localStorage.getItem('scrollPosition') !== null) {
            window.scrollTo(0, parseInt(localStorage.getItem('scrollPosition'), 10));
            // Optionally, you can clear the saved position after restoring it
            // localStorage.removeItem('scrollPosition');
        }

       

        // Save the scroll position before the page unloads
        window.addEventListener('beforeunload', saveScrollPosition);

        // Your existing "Show More" button functionality
        const showMoreButton = document.getElementById('show-more');
        if (showMoreButton) {
            showMoreButton.addEventListener('click', saveScrollPosition);
        }
    });



</script>
</html>
