{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WEData{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'management/css/styles.css' %}">
    <script src="{% static 'management/js/javascript.js' %}"></script>
</head>
<body>
    <div class="header">
        <h1>Wellbrook Education Data Systems</h1>
    </div>



    <div class="nav">

        {% if is_machinist %}
            <a href="{% url 'cnc_operator_jobs' %}">Machining Page</a>
            <!-- More machinist-specific links -->
        {% endif %}



        {% if is_reception %}
            <a href="{% url 'order_list' %}">Orders</a>
            <a href="{% url 'job_list' %}">Jobs</a>
            <a href="{% url 'create_job' %}">Create Job</a>
            <!-- <a href="{% url 'cnc_operator_jobs' %}">Machining Page</a> -->
        {% endif %}

    </div>





    <div class="container">
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.autoresize').forEach(function(textarea) {
        function resizeTextarea() {
            // Set height to 'auto' to get the correct scrollHeight
            textarea.style.height = 'auto';
            // Calculate the height difference which might be caused by border etc.
            var borderHeight = textarea.offsetHeight - textarea.clientHeight;
            // Set the height only if the content doesn't fit anymore
            if (textarea.scrollHeight + borderHeight > textarea.clientHeight) {
                textarea.style.height = textarea.scrollHeight + 'px';
            }
        }
        // Initialize resize on page load
        resizeTextarea();
        // Apply resizeTextarea on input event
        textarea.addEventListener('input', resizeTextarea, false);
    });
});

</script>
</html>
