body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.nav {
    background-color: #555;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #777;
}

.container {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #aaaaaa;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.num-orders-form form {
    display: inline-block; /* This will make each form display inline */
}


/* Style for links in the table */
table a {
    color: #428bca;
    text-decoration: none;
}

table a:visited {
    color: #428bca; /* Change to desired color for visited links */
}

table a:hover {
    color: #0056b3;
    text-decoration: underline;
}


.search-form, .num-orders-form, #statusFilter {
    margin-bottom: 20px;
    display: block;
}

.search-form input[type="text"], .search-form input[type="submit"], #statusFilter {
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.num-orders-form label {
    margin-right: 10px;
}

.num-orders-form button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.num-orders-form button:hover {
    background-color: #218838;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination .step-links {
    display: inline-block;
}

.pagination .step-links a {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    color: #428bca;
    text-decoration: none;
}

.pagination .step-links a:hover {
    border-color: #428bca;
}

.pagination .step-links .current {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #428bca;
    color: #fff;
    background-color: #428bca;
}


.order-details-container {
    margin: 20px auto; /* Center the container */
    max-width: 100%; /* Ensure it doesn't exceed the width of its container */
}

.order-details-table {
    border-collapse: collapse;
    margin: auto; /* Center the table */
}

.order-details-table th, .order-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
}

.order-details-table th {
    background-color: #b4b6b4;
    color: white;
}

.order-details-table td {
    background-color: #f9f9f9;
}


.order-details-table td.status-green {
    background-color: green !important;
}
.order-details-table td.status-orange {
    background-color: orange !important;
}
.order-details-table td.status-red {
    background-color: red !important;
    color: whitesmoke
}





.status-green {
    background-color: green;
    color: rgb(0, 0, 0); /* or any other text color that suits */
}
.status-orange {
    background-color: orange;
    color: black; /* or any other text color that suits */
}
.status-red {
    background-color: red;
    color: white; /* or any other text color that suits */
}





.filter-form {
    margin-bottom: 20px;
    text-align: left;
}




/* Style for the dropdown */
.filter-form select {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* For Safari */
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}



/* Style for the submit button */
.filter-form input[type="submit"] {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}


.filter-form input[type="submit"]:hover {
    background-color: #0056b3;
}






/* Container for notes and button */
.notes-container {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Align items vertically in the center */
    width: 100%; /* Full width of the container */
}

.notes-container form {
    display: flex; /* Use flexbox within the form as well */
    width: 100%; /* Full width of the container */
}

/* Style for the textarea */
textarea.autoresize {
    flex-grow: 1; /* Allow textarea to grow and fill available space */
    margin-right: 10px; /* Space between textarea and button */
    min-height: 38px; /* Minimum height to align with button */
    resize: none; /* Disable manual resize */
}

/* Style for the save button */
.save-btn {
    white-space: nowrap; /* Prevent text wrapping in the button */
    padding: 8px 15px; /* Padding inside the button */
    border: 1px solid #ccc; /* Border for the button */
    background-color: #4CAF50; /* Background color */
    color: white; /* Text color */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.save-btn:hover {
    background-color: #45a049; /* Darker shade on hover */
}









/* Style for the form group */
.form-group {
    margin-bottom: 15px;
}

/* Style for the label */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for the textarea */
.form-control.autoresize {
    width: 90%; /* Full width */
    padding: 10px; /* Padding inside the textarea */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
    font-family: Arial, sans-serif; /* Font style */
    font-size: 14px; /* Font size */
    line-height: 1.5; /* Line height for the text */
    resize: none; /* Allow only vertical resizing */
}

/* Style for the textarea when it is focused */
.form-control.autoresize:focus {
    outline: none;
    border-color: #007bff; /* Change border color when focused */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Add a glow effect */
}


.form-control {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Apply this class specifically to your select element */
.form-control-select {
    -webkit-appearance: none;  /* Removes default styling of dropdown for Webkit browsers */
    -moz-appearance: none;    /* Removes default styling of dropdown for Mozilla browsers */
    appearance: none;         /* Removes default styling of dropdown for the rest */
    background: url('path_to_custom_arrow_image') no-repeat right .75rem center/15px 15px; /* Path to your custom arrow image */
    cursor: pointer;
}

.form-control-select:hover {
    border-color: #80bdff;
}

.form-control-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
