body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.nav {
    background-color: #555;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #777;
}

.container {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #aaaaaa;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.num-orders-form form {
    display: inline-block; /* This will make each form display inline */
}


/* Style for links in the table */
table a {
    color: #428bca;
    text-decoration: none;
}

table a:visited {
    color: #428bca; /* Change to desired color for visited links */
}

table a:hover {
    color: #0056b3;
    text-decoration: underline;
}


.search-form, .num-orders-form, #statusFilter {
    margin-bottom: 20px;
    display: block;
}

.search-form input[type="text"], .search-form input[type="submit"], #statusFilter {
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.num-orders-form label {
    margin-right: 10px;
}

.num-orders-form button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.num-orders-form button:hover {
    background-color: #218838;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination .step-links {
    display: inline-block;
}

.pagination .step-links a {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    color: #428bca;
    text-decoration: none;
}

.pagination .step-links a:hover {
    border-color: #428bca;
}

.pagination .step-links .current {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #428bca;
    color: #fff;
    background-color: #428bca;
}


.order-details-container {
    margin: 20px auto; /* Center the container */
    max-width: 100%; /* Ensure it doesn't exceed the width of its container */
}

.order-details-table {
    border-collapse: collapse;
    margin: auto; /* Center the table */
}

.order-details-table th, .order-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
}

.order-details-table th {
    background-color: #b4b6b4;
    color: white;
}

.order-details-table td {
    background-color: #f9f9f9;
}


.order-details-table td.status-green {
    background-color: green !important;
}
.order-details-table td.status-orange {
    background-color: orange !important;
}
.order-details-table td.status-red {
    background-color: red !important;
    color: whitesmoke
}





.status-green {
    background-color: green;
    color: rgb(0, 0, 0); /* or any other text color that suits */
}
.status-orange {
    background-color: orange;
    color: black; /* or any other text color that suits */
}
.status-red {
    background-color: red;
    color: white; /* or any other text color that suits */
}





.filter-form {
    margin-bottom: 20px;
    text-align: left;
}




/* Style for the dropdown */
.filter-form select {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* For Safari */
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}



/* Style for the submit button */
.filter-form input[type="submit"] {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}


.filter-form input[type="submit"]:hover {
    background-color: #0056b3;
}






/* Container for notes and button */
.notes-container {
    display: flex;
    align-items: center;
}

/* Style for the textarea */
textarea.autoresize {
    width: calc(100% - 100px); /* Adjust width as needed */
    min-height: 10px; /* Minimum height */
    overflow-y: hidden; /* Hide vertical scrollbar */
    resize: none; /* Disable manual resize */
}

/* Style for the save button */
.save-btn {
    margin-left: 2px; /* Space between textarea and button */
    align-self: flex-start; /* Align the button vertically to the top */

}




input[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 8px 20px; /* Reduce the top and bottom padding */
    margin: 8px 0; /* Margin */
    border: none; /* No border */
    border-radius: 4px; /* Rounded borders */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker shade of green on hover */
}