/* WEData/management/static/management/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.nav {
    background-color: #555;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #777;
}

.container {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}









.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination .step-links {
    display: inline-block;
}

.pagination .step-links a {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    color: #428bca;
    text-decoration: none;
}

.pagination .step-links a:hover {
    border-color: #428bca;
}

.pagination .step-links .current {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #428bca;
    color: #fff;
    background-color: #428bca;
}
