{% extends 'management/base.html' %}
{% load custom_filters %}
{% block content %}
    <h2>Job Details: {{ job_id }}</h2>

    <h3>Parts Linked to Job</h3>
    <table>
        <tr>
            <th>Part ID</th>
            <th>Product Code</th>
            <!-- Add more headers as needed -->
        </tr>
        {% for part in parts %}
            <tr>
                <td>{{ part.part_id }}</td>
                <td>{{ part.product_code }}</td>
                <!-- Add more part details as needed -->
            </tr>
        {% endfor %}
    </table>

    <h3>Orders Linked to Parts</h3>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Order Date</th>
            <!-- Add more headers as needed -->
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.sage_order_number }}</td>
                <td>{{ order.customer.name }}</td>
                <td>{{ order.order_date }}</td>
                <!-- Add more order details as needed -->
            </tr>
        {% endfor %}
    </table>

    <h3>Picking Process</h3>
    <table>
        <tr>
            <th>Part ID</th>
            <th>Picking Status</th>
            <th>Part Status</th>
            <!-- ... other headers ... -->
        </tr>
        {% for picking in picking_infos %}
            <tr>
                <td>{{ picking.part_id }}</td>
                <td>{{ picking.picking_status }}</td>
                <td>{{ picking_parts_status|get_item:picking.part_id }}</td>
                <!-- ... other details ... -->
            </tr>
        {% endfor %}
    </table>

    <h3>CNC Machine Information</h3>
    <table>
        <tr>
            <th>Part ID</th>
            <th>Machine Status</th>
            <th>Part Status</th>
            <!-- ... other headers ... -->
        </tr>
        {% for cnc in cnc_infos %}
            <tr>
                <td>{{ cnc.part_id }}</td>
                <td>{{ cnc.machine_stage }}</td>
                <td>{{ cnc_parts_status|get_item:cnc.part_id }}</td>
                <!-- ... other details ... -->
            </tr>
        {% endfor %}
    </table>

    <h3>Workshop Information</h3>
    <!-- Similar table structure for Workshop Information -->

{% endblock %}
