{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
    <h2>Job Details: {{ job.job_name }}</h2>



    <!-- CNC Machine Assignment Form -->
    <form method="post" action="{% url 'update_job_machine' job.job_id %}" >
        {% csrf_token %}
        <div class="padded-section">
            <label for="id_cnc_machine">Assigned CNC Machine:</label>
            <select name="cnc_machine_id" id="id_cnc_machine" onchange="this.form.submit()" class = 'form-control form-control-select'>
                <option value="">Select Machine</option>
                {% for machine in cnc_machines %}
                    <option value="{{ machine.machine_id }}" {% if job.CNCMachine_id == machine.machine_id %}selected{% endif %}>
                        {{ machine.machine_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>



    <form method="post" action="{% url 'job_detail' job.job_id %}">
        {% csrf_token %}
    
        <!-- Existing Job Notes -->
        <div class="flex-container">
            <div class="flex-item">
                <label for="id_job_notes">Job Notes:</label>
                <textarea name="job_notes" class="form-control autoresize" rows="2" id="id_job_notes" class="autoresize">{{ job.job_notes }}</textarea>
            </div>
        </div>
    
        <!-- 8mm Fields -->
        <div class="flex-container">
            <div class="flex-item">
                <label for="id_mm8_notes">8mm Notes:</label>
                <textarea name="mm8_notes" id="id_mm8_notes" placeholder="Add 8mm notes here" class="form-control autoresize" rows="2">{{ job.mm8_notes }}</textarea>
            </div>
            <div class="flex-item">
                <label for="id_mm8_quantity">8mm Quantity:</label>
                <textarea name="mm8_quantity" id="id_mm8_quantity" placeholder="Enter quantity here" class="form-control autoresize" rows="1">{{ job.mm8_quantity }}</textarea>
            </div>
        </div>
        
        <!-- 18mm Fields -->
        <div class="flex-container">
            <div class="flex-item">
                <label for="id_mm18_notes">18mm Notes:</label>
                <textarea name="mm18_notes" id="id_mm18_notes" placeholder="Add 18mm notes here" class="form-control autoresize" rows="2">{{ job.mm18_notes }}</textarea>
            </div>
            <div class="flex-item">
                <label for="id_mm18_quantity">18mm Quantity:</label>
                <textarea name="mm18_quantity" id="id_mm18_quantity" placeholder="Enter quantity here" class="form-control autoresize" rows="1">{{ job.mm18_quantity }}</textarea>
            </div>
        </div>
        <input type="submit" value="Save Changes" class="save-btn">
    </form>
    



    <h3>Parts Linked to Job</h3>
    <table>
        <tr>
            <th>Part ID</th>
            <th>Product Code</th>
            <th>Product Description</th>
            <th>Machining Status</th> <!-- New column for machining status -->
        </tr>
        {% for part in parts %}
            <tr>
                <td>{{ part.part_id }}</td>
                <td>{{ part.product_code }}</td>
                <td>{{ part.product_code.product_description }}</td>
                <td class="{% if machining_status == 'Machined' %}status-green{% elif machining_status == 'In Progress' %}status-orange{% else %}status-red{% endif %}">
                    {{ machining_status }}
                </td>
            </tr>
        {% endfor %}
    </table>




    <h3>Orders Linked to this Job</h3>
    <table>
        <tr>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Order Date</th>
            <!-- Add more headers as needed -->
        </tr>
        {% for order in orders %}
            <tr>
                <td>
                    <a href="{% url 'order_detail' order.sage_order_number %}">{{ order.sage_order_number }}</a>
                </td>
                <td>
                    <a href="{% url 'customer_orders' order.customer.customer_id %}">{{ order.customer.name }}</a>
                </td>
                <td>{{ order.order_date }}</td>
                <!-- Add more order details as needed -->
            </tr>
        {% endfor %}
    </table>
    








    <h3>Picking Process</h3>
    <table>
        <tr>
            <th>Part ID</th>
            <th>Part Status</th>
            <th>Picking Status</th>
            <!-- Add more headers as needed -->
        </tr>
        {% for picking in picking_infos %}
            <tr>
                <td>{{ picking.part.part_id }}</td>
                <td>{{ picking.part.assembly_status }}</td> <!-- Assuming 'assembly_status' is in Part model -->
                <td class="{% if picking.picking_status == 'Picked' %}status-green{% elif picking.picking_status == 'In Progress' %}status-orange{% else %}status-red{% endif %}">
                    {{ picking.picking_status }}
                </td>
                <!-- Add other details as needed -->
            </tr>
        {% endfor %}
    </table>


    <h3>CNC Machine Information</h3>
    <table>
        <tr>
            <th>Part ID</th>
            <th>Part Status</th>
            <th>Machine Status</th>
            <!-- Add more headers as needed -->
        </tr>
        {% for cnc in cnc_infos %}
            <tr>
                <td>{{ cnc.part.part_id }}</td>
                <td>{{ cnc.part.assembly_status }}</td> <!-- Assuming 'assembly_status' is in Part model -->
                <td class="{% if cnc.machine_stage == 'Machined' %}status-green{% elif cnc.machine_stage == 'In Progress' %}status-orange{% else %}status-red{% endif %}">
                    {{ cnc.machine_stage }}
                </td>
                <!-- Add other details as needed -->
            </tr>
        {% endfor %}
    </table>



    <h3>Workshop Information</h3>
    <table>
        <tr>
            <th>Workshop Name</th>
            <th>Part ID</th>
            <th>Assembly Status</th>
            <!-- Add more headers as needed -->
        </tr>
        {% for workshop in workshop_infos %}
            <tr>
                <td>{{ workshop.workshop_id.workshop_name }}</td>
                <td>{{ workshop.part.part_id }}</td> <!-- Update according to your model relationships -->
                <td class="{% if workshop.assembly_status == 'Built' %}status-green{% elif workshop.assembly_status == 'Waiting' %}status-orange{% else %}status-red{% endif %}">
                    {{ workshop.assembly_status }}
                </td>
                <!-- Add other details as needed -->
            </tr>
        {% endfor %}
    </table>
    









{% endblock %}
{% block javascript %}
{% endblock %}
