{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <h2>Order Number: {{ order.sage_order_number }}</h2>

    <div class="order-details-container">
        <table class="order-details-table">
            <!-- Order Details -->
            <tr>
                <th>Customer</th>
                <td>{{ order.customer.name }}</td>
            </tr>
            <tr>
                <th>Order Date</th>
                <td>{{ order.order_date }}</td>
            </tr>
            <tr>
                <th>Delivery Postcode</th>
                <td>{{ order.delivery_postcode }}</td>
            </tr>
            <tr>
                <th>Order Value:</th>
                <td>£ {{ order.value|intcomma }}</td>
            </tr>

            <tr>
                <th>Codes:</th>
                <td>
                    {% if codes %}
                        <ul style="list-style-type:none; padding: 0; margin: 0;">
                            {% for code in codes %}
                                <li>{{ code.label }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>





            <!-- Add more rows as needed -->
        </table>
        <!-- Add more fields as needed -->
    </div>

    <h3>Order notes</h3>
    <div class="notes-container">
        <form method="post" action="{% url 'update_order_notes' %}">
            {% csrf_token %}
            <textarea name="user_notes" class="autoresize" placeholder="Add notes here"></textarea>
            <input type="submit" value="Save" class="save-btn">
            <input type="hidden" name="order_id" value="{{ order.sage_order_number }}">
        </form>
    </div>

    <h3>Parts in this Order</h3>
    <table class="order-details-table">
        <thead>
            <tr>
                <th>Product Code</th>
                <th>Job</th>
                <th>Department</th>
                <th>Machining Status</th>
                <th>Picking Status</th>
                <th>Assembly Status</th>
                <th>SageComment1</th> 
                <th>SageComment2</th> 
            </tr>
        </thead>
        <tbody>
            {% for part in parts %}
                <tr>
                    <td>{{ part.product_code }}</td>
                    <td>
                        {% if part.job %}
                        <a href="{% url 'job_detail' job_id=part.job.job_id %}">{{ part.job.job_name }}</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>{{ part.dept }}</td>
                    <td class="{% if part.machine_status == 'Machined' %}status-green{% elif part.machine_status == 'In Progress' or part.machine_status == 'Waiting' %}status-orange{% else %}status-red{% endif %}">{{ part.machine_status }}</td>
                    <td class="{% if part.picking_status == 'Picked'%}status-green{% elif part.picking_status == 'In Progress' or part.picking_status == 'Waiting' %}status-orange{% else %}status-red{% endif %}">{{ part.picking_status }}</td>
                    <td class="{% if part.assembly_status == 'Built' or part.assembly_status == 'Goods Ready' %}status-green{% elif part.assembly_status == 'In Progress' or part.assembly_status == 'Waiting' %}status-orange{% else %}status-red{% endif %}">{{ part.assembly_status }}</td>
                    <td>{{ part.sage_comment1|default_if_none:"" }}</td> 
                    <td>{{ part.sage_comment2|default_if_none:"" }}</td> 
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No parts found for this order.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.autoresize').forEach(function(textarea) {
                function resizeTextarea() {
                    textarea.style.height = 'auto';
                    textarea.style.height = textarea.scrollHeight + 'px';
                }
                textarea.addEventListener('input', resizeTextarea, false);
                resizeTextarea(); // Initialize size
            });
        });
    </script>
{% endblock %}
