{% extends "base.html" %}
{% block title %}Order List{% endblock %}
{% load custom_filters %}

{% block content %}

    <h2>Order List</h2>

    <div class="filter-form">
        <form method="get" action="">
            <select name="status_filter" onchange="this.form.submit()">
                <option value="all" {% if status_filter == 'all' %}selected{% endif %}>All</option>
                <option value="incomplete" {% if status_filter == 'incomplete' %}selected{% endif %}>Incomplete</option>
                <option value="complete" {% if status_filter == 'complete' %}selected{% endif %}>Complete</option>
            </select>
            <!-- Preserving all search and sort parameters -->
            <input type="hidden" name="customer_search" value="{{ customer_query }}">
            <input type="hidden" name="order_search" value="{{ order_query }}">
            <input type="hidden" name="cust_order_number_search" value="{{ cust_order_number_query }}">
            <input type="hidden" name="custref_search" value="{{ custref_query }}">
            <input type="hidden" name="num_orders" value="{{ num_orders }}">
            <input type="hidden" name="sort_order" value="{{ sort_order }}">
            <input type="hidden" name="job_search" value="{{ job_query }}">
            <!-- Hidden inputs for Customer Address and Delivery Address search parameters -->
            <input type="hidden" name="customer_address_search" value="{{ customer_address_query }}">
            <input type="hidden" name="delivery_address_search" value="{{ delivery_address_query }}">

            <noscript><input type="submit" value="Filter"></noscript>
        </form>
    </div>
    
    
    <!-- Search Form -->
    <form method="get" action="." class="search-form">
        <input type="text" name="customer_search" placeholder="Customer Name" value="{{ customer_query }}">
        <input type="text" name="order_search" placeholder="Order Number" value="{{ order_query }}">
        <input type="text" name="cust_order_number_search" placeholder="Customer Order Number" value="{{ cust_order_number_query }}">
        <input type="text" name="custref_search" placeholder="CUSTREF" value="{{ custref_query }}">
        <input type="text" name="customer_address_search" placeholder="Customer Address" value="{{ customer_address_query }}"> <!-- New input for Customer Address -->
        <input type="text" name="delivery_address_search" placeholder="Delivery Address" value="{{ delivery_address_query }}"> <!-- New input for Delivery Address -->
        <!-- Preserving filter and sort parameters -->
        <input type="hidden" name="status_filter" value="{{ status_filter }}">
        <input type="hidden" name="num_orders" value="{{ num_orders }}">
        <input type="hidden" name="sort_order" value="{{ sort_order }}">
        <input type="hidden" name="job_search" value="{{ job_query }}">

        <input type="submit" value="Search">
    </form>
    
    <!-- Number of Orders Selection -->
    <div class="num-orders-form">
        <label for="num-orders-buttons">Orders per page:</label>
        {% for i in num_range %}
            <form method="get" action=".">
                <!-- Preserving all search, filter, and sort parameters -->
                <input type="hidden" name="customer_search" value="{{ customer_query }}">
                <input type="hidden" name="order_search" value="{{ order_query }}">
                <input type="hidden" name="cust_order_number_search" value="{{ cust_order_number_query }}">
                <input type="hidden" name="custref_search" value="{{ custref_query }}">
                <input type="hidden" name="status_filter" value="{{ status_filter }}">
                <input type="hidden" name="sort_order" value="{{ sort_order }}">
                <input type="hidden" name="job_search" value="{{ job_query }}">
                <input type="hidden" name="num_orders" value="{{ i|multiply:20 }}">
                <input type="hidden" name="customer_address_search" value="{{ customer_address_query }}">
                <input type="hidden" name="delivery_address_search" value="{{ delivery_address_query }}">
                <button type="submit">{{ i|multiply:20 }}</button>
            </form>
        {% endfor %}
    </div>
    
    <!-- Sort by (most recent, oldest) -->
    <form method="get" action="." class="filter-form">
        <select name="sort_order" onchange="this.form.submit()">
            <option value="newest" {% if sort_order == 'newest' %}selected{% endif %}>Most Recent</option>
            <option value="oldest" {% if sort_order == 'oldest' %}selected{% endif %}>Oldest</option>
        </select>
        <!-- Preserving all search and filter parameters -->
        <input type="hidden" name="customer_search" value="{{ customer_query }}">
        <input type="hidden" name="order_search" value="{{ order_query }}">
        <input type="hidden" name="cust_order_number_search" value="{{ cust_order_number_query }}">
        <input type="hidden" name="custref_search" value="{{ custref_query }}">
        <input type="hidden" name="status_filter" value="{{ status_filter }}">
        <input type="hidden" name="num_orders" value="{{ num_orders }}">
        <input type="hidden" name="job_search" value="{{ job_query }}">
        <input type="hidden" name="customer_address_search" value="{{ customer_address_query }}">
        <input type="hidden" name="delivery_address_search" value="{{ delivery_address_query }}">
    </form>









    <!-- Order Table -->
    <table>
        <thead>
            <tr>
                <th>Sage Order Number</th>
                <th>Customer Name</th>
                <th>Customer Order Number</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Days Old</th>
                <th>User Notes</th>
                <!-- Add more headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for order in page_obj %}
            <tr>
                <td><a href="{% url 'order_detail' order.sage_order_number %}">{{ order.sage_order_number }}</a></td>
                <td><a href="{% url 'customer_orders' order.customer.customer_id %}">{{ order.customer.name }}</a></td>
                <td><a href="{% url 'order_detail' order.sage_order_number %}">{{ order.customer_order_number }}</a></td></td>
                <td>{{ order.order_date }}</td>
                <td class="{% if order.status == 'Complete' %}status-green{% elif order.status == 'Pending' %}status-orange{% else %}status-red{% endif %}">{{ order.status }}</td>
                <td id="days-old-{{ forloop.counter }}"></td> <!-- Placeholder for Days Old -->
                <td>
                    <div class="notes-container">
                        <form method="post" action="{% url 'update_order_notes' %}">
                            {% csrf_token %}
                            <textarea name="user_notes" class="autoresize" placeholder="Add notes here">{{ order.user_notes|default_if_none:"" }}</textarea>
                            <input type="submit" value="Save" class="save-btn">
                            <input type="hidden" name="order_id" value="{{ order.sage_order_number }}">
                        </form>
                    </div>
                </td>
                <!-- Add more data cells as needed -->
            </tr>
            {% endfor %}

            

        </tbody>
    </table>

    <!-- Show More Button -->
    {% if page_obj.has_next %}
        <form method="get" action=".">
            <!-- Preserving all search, filter, and sort parameters -->
            <input type="hidden" name="customer_search" value="{{ customer_query }}">
            <input type="hidden" name="order_search" value="{{ order_query }}">
            <input type="hidden" name="cust_order_number_search" value="{{ cust_order_number_query }}">
            <input type="hidden" name="custref_search" value="{{ custref_query }}">
            <input type="hidden" name="status_filter" value="{{ status_filter }}">
            <input type="hidden" name="sort_order" value="{{ sort_order }}">
            <input type="hidden" name="job_search" value="{{ job_query }}">
            <input type="hidden" name="num_orders" value="{{ num_orders }}">
            <input type="hidden" name="page" value="{{ page_obj.next_page_number }}">
            <input type="hidden" name="customer_address_search" value="{{ customer_address_query }}">
            <input type="hidden" name="delivery_address_search" value="{{ delivery_address_query }}">
            <button type="submit" id="show-more">Show More</button>
        </form>
    {% endif %}




    <script>
        // Script to store the scroll position
        document.getElementById('show-more').addEventListener('click', function() {
            localStorage.setItem('scrollPosition', window.scrollY || document.documentElement.scrollTop);
        });

        // Script to restore the scroll position
        document.addEventListener('DOMContentLoaded', function() {
            if (localStorage.getItem('scrollPosition') !== null) {
                window.scrollTo(0, localStorage.getItem('scrollPosition'));
                localStorage.removeItem('scrollPosition'); // Clear the stored position
            }
        });



        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.autoresize').forEach(function(textarea) {
                function resizeTextarea() {
                    textarea.style.height = 'auto';
                    textarea.style.height = textarea.scrollHeight + 'px';
                }
                textarea.addEventListener('input', resizeTextarea, false);
                resizeTextarea(); // Initialize size
            });
        });

    </script>



{% endblock %}