{% extends 'base.html' %}

{% block content %}
<h2>Picking Department</h2>

<div class="filter-container">




    <label>Picking Status (picked, not picked)</label>
    <form method="get" action="{% url 'picking_department' %}" class='filter-form'>
        <select name="picking_status" onchange="this.form.submit()">
            <option value="">All</option>
            <option value="Picked" {% if current_filter == 'Picked' %}selected{% endif %}>Picked</option>
            <option value="On Hold" {% if current_filter == 'On Hold' %}selected{% endif %}>On Hold</option>
            <option value="Waiting" {% if current_filter == 'Waiting' %}selected{% endif %}>Waiting</option>
            <option value="not_picked" {% if current_filter == 'not_picked' %}selected{% endif %}>All In Progress</option>
            
        </select>
        <input type="hidden" name="sort_order" value="{{ sort_order }}">
    </form>

    <label>Sort by (most recent, oldest)</label>
    <form method="get" action="." class="filter-form">
        <select name="sort_order" onchange="this.form.submit()">
            <option value="newest" {% if sort_order == 'newest' %}selected{% endif %}>Most Recent</option>
            <option value="oldest" {% if sort_order == 'oldest' %}selected{% endif %}>Oldest</option>
        </select>
        <input type="hidden" name="picking_status" value="{{ current_filter }}">
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>Job Name</th>
            <th>Assigned CNC Machine</th>
            <th>18mm Status</th>
            <th>8mm Status</th>
            <th>Picking Status</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for picking in page_obj %}
        <tr>
            <td>{{ picking.job.job_name }}</td>
            <td>{{ picking.job.CNCMachine.machine_name }}</td>
            
            <td class="{% if picking.job.mm18_status == 'Waiting' %}status-waiting
                    {% elif picking.job.mm18_status == 'Machined' %}status-machined
                    {% else %}status-other{% endif %}">
                {% if picking.job.mm18_status %}{{ picking.job.mm18_status }}{% else %}N/A{% endif %}
            </td>
            <td class="{% if picking.job.mm8_status == 'Waiting' %}status-waiting
                    {% elif picking.job.mm8_status == 'Machined' %}status-machined
                    {% else %}status-other{% endif %}">
                {% if picking.job.mm8_status %}{{ picking.job.mm8_status }}{% else %}N/A{% endif %}
            </td>
            <td>
                <div class="filter-form">
                    <select name="picking_status" data-picking-id="{{ picking.picking_id }}" onchange="updatePickingStatus(this)">
                        <option value="Picked" {% if picking.picking_status == 'Picked' %}selected{% endif %}>Picked</option>
                        <option value="On Hold" {% if picking.picking_status == 'On Hold' %}selected{% endif %}>On Hold</option>
                        <option value="Waiting" {% if picking.picking_status == 'Waiting' %}selected{% endif %}>Waiting</option>
                    </select>
                </div>
            </td>
            
            <td>
                <div class="notes-container">
                    <!-- Use the Django URL template tag to generate the correct URL for the form action -->
                    <form method="post" action="{% url 'update_picking_notes' picking.picking_id %}">
                        {% csrf_token %}
                        <!-- Name the textarea according to what your view expects -->
                        <textarea name="picking_notes" class="autoresize" placeholder="Add notes here">{{ picking.notes|default_if_none:"" }}</textarea>
                        <!-- Use a hidden input to pass the picking_id -->
                        <input type="hidden" name="picking_id" value="{{ picking.picking_id }}">
                        <input type="submit" value="Save" class="save-btn">
                    </form>
                </div>
            </td>
            
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="get" action="{% url 'picking_department' %}">
    <!-- Hidden input for current filter -->
    <input type="hidden" name="picking_status" value="{{ current_filter }}">

    <!-- Hidden input for number of jobs, incrementing the current count -->
    <input type="hidden" name="num_jobs" value="{{ page_obj.paginator.per_page|add:20 }}">

    <!-- Show More button -->
    <button type="submit" id="show-more">Show More</button>
    <input type="hidden" name="sort_order" value="{{ sort_order }}">
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>



    $(document).ready(function() {
        function updatePickingCellBackgroundClass(selector) {
            selector.each(function() {
                var status = $(this).val();
                var cell = $(this).closest('td'); // Find the closest <td> ancestor
                // Remove all previous classes to prevent style conflicts
                cell.removeClass('picking-status-picked picking-status-on-hold picking-status-waiting');
                switch(status) {
                    case 'Picked':
                        cell.addClass('picking-status-picked'); // Apply class for Picked
                        break;
                    case 'On Hold':
                        cell.addClass('picking-status-on-hold'); // Apply class for On Hold
                        break;
                    case 'Waiting':
                        cell.addClass('picking-status-waiting'); // Apply class for Waiting
                        break;
                }
            });
        }

        // Target the picking_status dropdowns specifically
        var pickingStatusDropdowns = $('select[name="picking_status"]');
        
        // Apply initial cell background class
        updatePickingCellBackgroundClass(pickingStatusDropdowns);

        // Update cell background class on dropdown change
        pickingStatusDropdowns.change(function() {
            updatePickingCellBackgroundClass($(this));
        });
    });











    function savePickingNotes(buttonElement) {
        const form = buttonElement.closest('.picking-notes-form');
        const pickingId = form.getAttribute('data-picking-id'); // Use data-picking-id
        const notes = form.querySelector('textarea[name="picking_notes"]').value;

        fetch('/management/update_picking_notes/', { // Ensure this endpoint exists and is configured correctly
            method: 'POST',
            headers: {
                'X-CSRFToken': getCSRFToken(),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'picking_id': pickingId, 'notes': notes })
        })
        .then(response => response.json())
        .then(data => {
            console.log("Response received:", data);
            // Optional: Display a success message or update the UI accordingly
        })
        .catch(error => {
            console.error("Error:", error);
            // Optional: Display an error message
        });
    }

    function getCSRFToken() {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim().split('=');
            if (cookie[0] === 'csrftoken') {
                return cookie[1];
            }
        }
        return '';
    }













    function updatePickingStatus(element) {
        const pickingId = element.getAttribute('data-picking-id'); // Updated to use picking_id
        const newStatus = element.value;

        fetch('/management/update_picking_status/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCSRFToken(),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'picking_id': pickingId, 'picking_status': newStatus })
        })
        .then(response => response.json())
        .then(data => {
            console.log("Response received:", data);
            // Optional: Display a success message or update the UI
        })
        .catch(error => {
            console.error("Error:", error);
            // Optional: Display an error message
        });
    }







    function getCSRFToken() {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim().split('=');
            if (cookie[0] === 'csrftoken') {
                return cookie[1];
            }
        }
        return '';
    }









</script>

{% endblock %}
