{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <h2>Welcome, {{ user.first_name }}</h2>
    </div>
    <div class="user-details">
        <div class="detail">
            <span class="label">Username:</span>
            <span class="value">{{ user.username }}</span>
        </div>
        <div class="detail">
            <span class="label">Groups:</span>
            <span class="value">
                {% for group in user.groups.all %}
                    {{ group.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
        </div>
        <!-- Logout Button Form -->
        <div class="logout-button">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="/" />
                <button type="submit" class="login-button">Logout</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}

{% endblock %}
